body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightblue;
}

h1,h2
{
    text-transform: uppercase;
    color:darkcyan
}

figcaption
{
    color: steelblue;
}

figcaption:nth-child(2)
{
    margin-bottom: 3em;
}

ul li:nth-child(odd)
{
    color: #f1f1f1;
}

ul li:nth-child(even)
{
    color: gray;
}